<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lightfor.easyforum.mapper.ForumMapper">

    <resultMap id="forum" type="org.lightfor.easyforum.pojo.Forum">
        <id column="id" property="id" jdbcType="NUMERIC"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="NUMERIC"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, parent_id
    </sql>

    <select id="listByParentId" resultMap="forum">
        select
        <include refid="Base_Column_List"/>
        from forum
        where parent_id = #{id,jdbcType=NUMERIC}
    </select>

    <insert id="save">
        insert into forum (name, parent_id) VALUES (#{name,jdbcType=VARCHAR}, #{parentId, jdbcType=NUMERIC})
    </insert>

    <select id="get" resultMap="forum">
        select
        <include refid="Base_Column_List"/>
        from forum
        where id = #{id,jdbcType=NUMERIC}
    </select>

    <delete id="delete">
        delete from forum where id = #{id,jdbcType=NUMERIC}
    </delete>
</mapper>